/Calculations.class
/DataHandler.class
/DataSet.class
/PointSelector$All.class
/PointSelector$AllNaN.class
/PointSelector$Bounds.class
/PointSelector$BoundsNaN.class
/PointSelector$NoNaN.class
/PointSelector$Specific.class
/PointSelector.class
/Reader.class
/ValueComparator.class
/Writer.class
